body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9f1f5;
}

header {
    background-color: #05183e;
    color: #fffb27;
    text-align: center;
    padding: 20px;
}

nav button {
    background-color: #fffb27;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: #f3c500;
}

#app {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #fffb27;
    border-radius: 10px;
    background-color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    background-color: #62a4ff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

h2 {
    color: #05183e;
    text-align: center;
}

.pokemon-list img, .team-list img, .reserve-list img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.add-button,
.remove-button {
    background-color: #fffb27;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s;
    font-weight: bold;
    margin-left: 10px;
}

.add-button:hover,
.remove-button:hover {
    background-color: #f3c500;
}

.add-button:active,
.remove-button:active {
    background-color: #e6b800;
    transform: scale(0.95);
}

#search-container {
    text-align: center;
    margin: 20px;
}

#search {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    margin: 10px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#team-container {
    text-align: center;
    margin: 20px;
}

#team-container h2 {
    text-align: center;
}

.reserve-list {
    margin-top: 20px;
}